body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}


.main{
    display: flex;
    justify-content: space-between; 
    height: 100vh;

}

.sidebarLeft{
    background-color: black;
    width: 25vw;
    height: 100vh;


}

#tracciaPointer {
    cursor: pointer;
}

.topSideLeft{
    position: sticky;
}

.bottomSideLeft p {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.bottomSideLeft{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
   
}

 .bottomSideLeft::-webkit-scrollbar {
        width: 20px;
        }

.sidebarRight{
    background-color: black;
    width: 20vw;
    height: 100vh;
}

.topSideRight{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#mainDiv {
    height: 100vh;
}

#main{
  overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
    position: relative;
}
#main::-webkit-scrollbar, #trackRow::-webkit-scrollbar {
        width: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#trackRow {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;

}

#visualizza {
    font-size: 12px;
}

#arrow{
    cursor: pointer;
}

#artstiBanner {
    z-index: 2;

}
#bannerArtist {
    height: 30vh;
    object-position: center;
    background: no-repeat;
}

.dinamico{

}

.player{
    position: absolute;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgb(29, 29, 29);
    z-index: 2;
}

.playBarBox{

}

.playerTime {
    font-size: 15px;
}

.playBar{
    height: 3px;
    width: 600px;
    background-color: white;
}

.volumeBox{

}

.volumeBox i{
    margin: 0 8px;
}

.volumeBar {
    height: 3px;
    width: 90px;
    background-color: white;
}

.trackBox {

    margin-bottom: 100px;
}

#trackBox{
    min-height:20vh;
    max-height:60vh;
}

.artistFont {
    font-size: 16px;
    margin: 0 15px;
    color: gray;
}
.titleFont {
    font-size: 16px;
    margin: 0 15px;
    color: white;
}
.imageFont{
    margin-left: 15px;
}

.player i {
    cursor: pointer;
}

.sidebarLeft i {
    cursor: pointer;
}

.sidebarLeft input{
    background-color: black;
    border: none;
    color: white;
}



@media screen and (max-width: 576px) {
    .sidebarLeft{
        display: none;
    }

    .sidebarRight{
        display: none;
    }

    #contenitoreTop{
        display: none;
    }

    #buonasera{
        font-size: 2.5em;
    }

    #contenitorePlaylist{
        display: flex;
        flex-direction: column;
        max-height:30vh;
    }

}