body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}


.main{
    display: flex;
    justify-content: space-between;
}

.sidebarLeft{
    background-color: black;
    width: 25vw;
    height: 100vh;

}

.topSideLeft{
    position: sticky;
}

.bottomSideLeft p {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;

}

.bottomSideLeft{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
   
}

 .bottomSideLeft::-webkit-scrollbar {
        width: 20px;
        }

.sidebarRight{
    background-color: black;
    width: 20vw;
    height: 100vh;
}

.topSideRight{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#main{
  overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100vh;
}
#main::-webkit-scrollbar, #trackRow::-webkit-scrollbar {
        width: 20px;
}

a {
    text-decoration: none;
    color: white;
}

#trackRow {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 60vh;
}

#visualizza {
    font-size: 12px;
}

#arrow{
    cursor: pointer;
}
